DOMAIN={{ domain }}
MAIL_DOMAIN={{ domain }}
MAIL_HOST={{ mail_host }}
WEBMAIL_HOST={{ webmail_host }}

STALWART_RECOVERY_ADMIN={{ bootstrap_recovery_user }}:{{ bootstrap_recovery_password_final }}
STALWART_ADMIN_USER={{ stalwart_admin_user_effective | default('admin@' ~ domain) }}
STALWART_ADMIN_PASSWORD={{ stalwart_admin_password_effective | default(stalwart_admin_password_final) }}
STALWART_URL=https://stalwart:443
STALWART_TLS_REJECT_UNAUTHORIZED=false
STALWART_DOMAIN_ID=

PORT=8091
BASE_PATH={{ tools_base_path }}
LISTEN_HOST=0.0.0.0
SESSION_SECRET={{ mail_tools_session_secret_final }}
TOOLS_ADMIN_USER={{ tools_admin_user }}
TOOLS_ADMIN_PASSWORD={{ tools_admin_password_final }}
DEFAULT_MAIL_PASSWORD={{ tools_default_mail_password }}
IMAP_HOST={{ mail_host }}
IMAP_PORT=993
IMAP_TLS_REJECT_UNAUTHORIZED=false
NODE_TLS_REJECT_UNAUTHORIZED=0
